<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Онлайн - Магазин{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
    <header class="pp">
        <h1><a class="ppp">Онлайн - Магазин</a></h1>
    </header>
    <header class="pppp">
        <nav class="nav">
            <button onclick="window.location.href='/'" class="filter-open-btn">Главная</button>
            <button onclick="window.location.href='/list'" class="filter-open-btn">Каталог</button>
            <button onclick="window.location.href='/cart'" class="filter-open-btn">Корзина</button>
            <button onclick="window.location.href='/klient'" class="filter-open-btn">Профиль</button>
            {% if request.user.is_authenticated %}
                <button onclick="window.location.href='/logout'" class="filter-open-btn">Выйти</button>
            {% else %}
                <button onclick="window.location.href='/auth'" class="filter-open-btn">Войти</button>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="pppp"></footer>
</body>
</html>
