{% extends "base.html" %}
{% block title %}Корзина{% endblock %}
{% block content %}
    <h2>Корзина</h2>
    {% if cart_items %}
        <table class="table">
            <tr><th>Товар</th><th>Кол-во</th><th>Цена</th><th>Удалить</th></tr>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price|floatformat:2 }} BYN</td>
                    <td>
                        <form action="{% url 'shop:cart_remove' item.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="del">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p><strong>Итого: {{ cart_total|floatformat:2 }} BYN</strong></p>
        <a href="{% url 'shop:create_order' %}" class="filter-open-btn">Оформить заказ</a>
    {% else %}
        <p>Корзина пуста.</p>
    {% endif %}
{% endblock %}