{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<section class="banner">
    <h2>Спецпредложения</h2>
    {% if banner_products %}
        <div class="banner-image">
            {% for product in banner_products %}
                <div class="banner-info">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width:100%; height:auto;">
                    {% endif %}
                    <h1 class="banner-title">{{ product.name }}</h1>
                    <p class="banner-price">{{ product.price }} BYN</p>
                    <div class="hero-text">
                        <a href="{% url 'shop:product_detail' product.id %}" class="btn">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет специальных предложений.</p>
    {% endif %}
</section>

<section class="popular">
    <h2>Популярные товары</h2>
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% endif %}
                <h3>{{ product.name }}</h3>
                <p class="price">{{ product.price }} BYN</p>
                <a href="{% url 'shop:product_detail' product.id %}" class="tt">Подробнее</a>
            </div>
        {% endfor %}
    </div>
</section>

<section class="categories">
    <h2>Категории</h2>
    <div class="categories-grid">
        {% for category in categories %}
            <a href="{% url 'shop:product_list' %}?category={{ category.id }}" class="category-card">
                <span class="category-name">{{ category.name }}</span>
            </a>
        {% endfor %}
    </div>
</section>
{% endblock %}