<!DOCTYPE html>

{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Онлайн - Магазин{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="C:\Users\derob\Desktop\1\online-store\front\static\Style.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body  class="body">
    <header class=" pp">
        <h1><a class=" ppp">Онлайн - Магазин</a></h1>
    </header>

    <main>
        {% block content %}

        <!-- БАННЕР -->
        <h2>🔥 Спецпредложения</h2>
        <section class="banner">

            <div class="banner-image">
                {% for product in banner_products %}
                <div class="banner-info">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h1 class="banner-title">{{ product.name }}</h1>
                    <p class="banner-price">{{ product.price }} руб</p>
                    <div class="hero-text">
                        <a href="{% url 'shop:product_detail' product.slug %}" class="btn">Подробнее</a>
                    </div>

                    <form action="{% url 'shop:cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="size" value="{{ selected_size }}">
                        <button class="add-to-cart">Добавить в корзину</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </section>

        <script>
            new Swiper('.hero-swiper', {
                loop: true,
                autoplay: { delay: 3500 },
                pagination: { el: '.swiper-pagination', clickable: true },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            });
        </script>

        <hr>


        <!-- ПОПУЛЯРНЫЕ ТОВАРЫ -->
        <section class="popular">
            <h2>⭐ Популярные товары</h2>

            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-card">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            <h3>{{ product.name }}</h3>
                            <p class="price">{{ product.price }} руб</p>
                            <a href="{% url 'shop:product_detail' product.slug %}" class="tt">Подробнее</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <hr>


        <!-- КАТЕГОРИИ -->
        <section class="categories">
            <h2>📂 Категории</h2>
            <div class="categories-grid">
                {% for category in categories %}
                <a href="{% url 'shop:category_products' category.slug %}" class="category-card">
                    <div class="category-image">
                        <img src="{{ category.image.url }}" alt="{{ category.name }}">
                    </div>
                    <span class="category-name">{{ category.name }}</span>
                </a>
                {% endfor %}
            </div>
        </section>

        {% endblock %}
    </main>


    <header class=" pp">
        <nav>
            <!-- КНОПКА ОТКРЫТИЯ ФИЛЬТРА -->
            <button class="filter-open-btn">🔍 Фильтры</button>

                <!-- ФИЛЬТРАЦИЯ -->
                <div class="filter-modal" id="filterModal">
                    <div class="filter-content">

                        <span class="filter-close">&times;</span>

                        <h2>Фильтрация товаров</h2>

                        <form method="get">

                            <label>Категория:</label>
                            <select name="category">
                                <option value="">Все</option>
                                {% for cat in categories %}
                                <option value="{{ cat.slug }}"
                                        {% if selected_category= =cat.slug %}selected{% endif %}>
                                    {{ cat.name }}
                                </option>
                                {% endfor %}
                            </select>

                            <label>Цена от:</label>
                            <input type="number" name="min_price" value="{{ min_price }}">

                            <label>Цена до:</label>
                            <input type="number" name="max_price" value="{{ max_price }}">

                            <button type="submit" class="apply-btn">Применить</button>
                        </form>
                    </div>
                </div>

                <script>
                    const modal = document.getElementById("filterModal");
                    const openBtn = document.querySelector(".filter-open-btn");
                    const closeBtn = document.querySelector(".filter-close");

                    openBtn.onclick = () => modal.style.display = "flex";
                    closeBtn.onclick = () => modal.style.display = "none";

                    window.onclick = (e) => {
                        if (e.target === modal) modal.style.display = "none";
                    };
                </script>
           
                <button class="filter-open-btn">🛒 Корзина</button>
        </nav>
    </header>
</body>
</html>