<!DOCTYPE html>

{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Онлайн - Магазин{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="C:\Users\derob\Desktop\1\online-store\front\static\Style.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body>
    <header class=" pp">
        <h1><a class=" ppp">Онлайн - Магазин</a></h1>
    </header>

    <header class=" pppp">
        <nav class="nav">
            <button onclick="window.location.href='/Users/derob/Desktop/1/online-store/front/templates/list.html'" class="filter-open-btn">Каталог</button>

            <button onclick="window.location.href='/Users/derob/Desktop/1/online-store/front/templates/cart.html'" class="filter-open-btn">Корзина</button>

            <button onclick="window.location.href='/Users/derob/Desktop/1/online-store/front/templates/klient.html'" class="filter-open-btn">Профиль</button>

            <button onclick="window.location.href='/Users/derob/Desktop/1/online-store/front/templates/auth.html'" class="filter-open-btn">Войти</button>
        </nav>
    </header>

    <main>
        {% block content %}

        <!-- БАННЕР -->
        <h2>🔥 Спецпредложения</h2>
        <section class="banner">

            <div class="banner-image">
                {% for product in banner_products %}
                <div class="banner-info">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h1 class="banner-title">{{ product.name }}</h1>
                    <p class="banner-price">{{ product.price }} руб</p>
                    <div class="hero-text">
                        <a  onclick="window.location.href='/Users/derob/Desktop/1/online-store/front/templates/product.html'" class="btn">Подробнее</a>
                    </div>

                    <form action="{% url 'shop:cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="size" value="{{ selected_size }}">
                        <button class="add-to-cart">Добавить в корзину</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </section>

        <script>
            new Swiper('.hero-swiper', {
                loop: true,
                autoplay: { delay: 3500 },
                pagination: { el: '.swiper-pagination', clickable: true },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            });
        </script>

        <hr>


        <!-- ПОПУЛЯРНЫЕ ТОВАРЫ -->
        <section class="popular">
            <h2>⭐ Популярные товары</h2>

            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-card">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            <h3>{{ product.name }}</h3>
                            <p class="price">{{ product.price }} руб</p>
                            <br />
                            <a onclick="window.location.href='/Users/derob/Desktop/1/online-store/front/templates/product.html'"  class="tt">Подробнее</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <hr>


        <!-- КАТЕГОРИИ -->
        <section class="categories">
            <h2>📂 Категории</h2>
            <div class="categories-grid">
                {% for category in categories %}
                <a href="{% url 'shop:category_products' category.slug %}" class="category-card">
                    <div class="category-image">
                        <img src="{{ category.image.url }}" alt="{{ category.name }}">
                    </div>
                    <span class="category-name">{{ category.name }}</span>
                </a>
                {% endfor %}
            </div>
        </section>

        {% endblock %}
    </main>

    <header class=" pppp"> </header>

</body>
</html>