<!DOCTYPE html>

{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Онлайн - Магазин{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="C:\Users\derob\Desktop\1\online-store\front\static\Style.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <title></title>
</head>

<body class="body-n">
    <div class="log-wrapper">
        <div class="auth-left">
            <h2 style="text-align: center; color: #9c638d;">Регистрация</h2>
            <form method="post" action="/register">
                <div class="input-group">
                    <input type="text" name="name" placeholder="Имя пользователя" required>
                </div>
                <div class="input-group">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Пароль" required>
                </div>


                <button type="submit" class="btn btn-primary">Регистрация</button>
            </form>
        </div>
        <div class="auth-right">
            <h2 style="text-align: center ">Добро пожаловать!</h2>
            <br>
            <p>У Вас уже есть учетная запись?</p>
            <a onclick="window.location.href='/Users/derob/Desktop/1/online-store/front/templates/auth.html'" class="btn-light">Вход</a>
        </div>
    </div>
</body>
</html>